

<div class="biuld">
    <div class="biulding">
        <div class="right">
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
        </div>
        <div class="left">
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
            <div class="windon" id="windon"></div>
        </div>
        <div class="squaer">
            <i class="bi bi-lightning-fill" (click)="click1()" id="thunder3"></i>
        </div>
    </div>
    <div class="biulding">
        <div class="right">
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
        </div>
        <div class="left">
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
            <div class="windon1" id="windon1"></div>
        </div>
        <div class="squaer">
            <i class="bi bi-lightning-fill" (click)="click2()" id="thunder2"></i>
        </div>
    </div>
    <div class="biulding">
        <div class="right">
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
        </div>
        <div class="left">
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
            <div class="windon2" id="windon2"></div>
        </div>
        <div class="squaer">
            <i class="bi bi-lightning-fill" (click)="click3()" id="thunder1"></i>
        </div>  
    </div>
</div>
