.street{
    background-color: rgb(44, 42, 42);
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .beam{
        background-color: yellow;
        height: 2vh;
        width: 3%;
    }

    .belt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 2vh;
        width: 5%;
        gap: 10px;
    }

    .beam-belt{
        background-color: rgb(244, 244, 244);
        height: 1vh;
        width: 50%;
        color: transparent;
    }
}

.sidewalk{
    background-color: rgb(86, 79, 79);
    height: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}