<div class="sidewalk"></div>
<div class="street">
    <div class="beam"></div>
    <div class="beam"></div>
    <div class="beam"></div>

    <div class="belt">
        <div class="beam-belt">-</div>
        <div class="beam-belt">-</div>
        <div class="beam-belt">-</div>
        <div class="beam-belt">-</div>
        <div class="beam-belt">-</div>
    </div>

    <div class="beam"></div>
    <div class="beam"></div>
    <div class="beam"></div>
    <div class="beam"></div>
    
    <div class="belt">
        <div class="beam-belt">-</div>
        <div class="beam-belt">-</div>
        <div class="beam-belt">-</div>
        <div class="beam-belt">-</div>
        <div class="beam-belt">-</div>
    </div>

    <div class="beam"></div>
    <div class="beam"></div>
</div>
<div class="sidewalk"></div>
