<div class="body">
    <div class="container">
        <div class="cloud1">cloud</div>
        <div class="cloud2">cloud</div>
        <div class="cloud3">cloud</div>
    </div>
    <div class="container2">
        <div class="cloud4">cloud</div>
        <div class="cloud5">cloud</div>
        <div class="cloud6">cloud</div>
    </div>
    <div class="container3">
        <div class="cloud7">cloud</div>
        <div class="cloud8">cloud</div>
        <div class="cloud9">cloud</div>
    </div>
    <div class="container4">
        <div class="cloud10">cloud</div>
        <div class="cloud11">cloud</div>
        <div class="cloud12">cloud</div>
    </div>
</div>

