<div class="body">
    <div class="container">
        <div class="cloud1" id="cloud">cloud</div>
        <div class="cloud2" id="cloud">cloud</div>
        <div class="cloud3" id="cloud">cloud</div>
    </div>
    <div class="container2">
        <div class="cloud4" id="cloud">cloud</div>
        <div class="cloud5" id="cloud">cloud</div>
        <div class="cloud6" id="cloud">cloud</div>
    </div>
    <div class="container3">
        <div class="cloud7" id="cloud">cloud</div>
        <div class="cloud8" id="cloud">cloud</div>
        <div class="cloud9" id="cloud">cloud</div>
    </div>
    <div class="container4">
        <div class="cloud10" id="cloud">cloud</div>
        <div class="cloud11" id="cloud">cloud</div>
        <div class="cloud12" id="cloud">cloud</div>
    </div>
</div>

